@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-black: #000;
    --primary-gray: #555;
    --primary-gray-light: #ddd;
    --primary: #3482FA;
    --secondary: #F5F5F5;
    --terciary: #ccc;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

a {
    color: var(--primary);
    text-decoration: none;
}


/* HEADER */
.nav-login {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 100;
    transition: .2s;
    background: white;
}

.nav-login-invert {
    left: 0;
    right: unset;
    transition: .2s;

}

.nav-login-content {
    padding: 20px 30px;
}

.btn-login {
    margin-left: 5px;
    padding: 7px;
    border: var(--primary) solid 1px;
    border-radius: 2px;
    color: var(--primary);
    cursor: pointer;
}

/* CONTENT */
.presentation-container, .copyright {
    display: none;
}

.content-responsive {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px 0;
    margin: 0 auto;
}

.content-title {
    font-weight: 500;
    font-size: 22px;
    margin: 0 0 40px;
}

.content-subtitle {
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 20px;
}

.content-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border: var(--terciary) solid 1px;
    border-radius: 5px;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    min-height: 27px;
    max-width: 262px;
}

.button-email {
    padding: 5px 0;
    background: #222;
    color: white;
}

.span-button {
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
}

.btn-image {
    position: absolute;
    width: 27px;
    margin-left: 10px;
}

.separator {
    margin-top: 20px;
    width: 5px;
    height: 5px;
    border: #222222 solid 1px;
    border-radius: 50px;
}

@media (min-width: 1000px) {
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    .bg-container {
        height: 100%;
        background: #111;
        transition: .5s;
    }

    .content-responsive {
        background-color: white;
        width: 55%;
        right: 0;
        border-radius: 20px 0 0 20px;
        transition: .1s;
    }

    .content-responsive-invert {
        width: 55%;
        right: unset;
        left: 0;
        border-radius: 0 20px 20px 0;
        transition: 100ms;
    }

    .content-responsive-transition {
        width: 0;
    }

    .presentation-container {
        display: flex;
        position: absolute;
        height: 100%;
        width: 45%;
        justify-content: center;
        align-items: center;
        transition: .2s;
    }

    .presentation-container-invert, .copyright-invert {
        right: 0;
        transition: .2s;
    }

    .img-presentation {
        width: 150px;
    }

    .copyright {
        display: unset;
        position: absolute;
        width: 45%;
        color: white;
        bottom: 0;
        transition: .2s;
    }

    .copyright p {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 50px;
        font-weight: 300;
        font-size: 13px;
    }
}




.lds-ring {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 8px;
    border: 2px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.display-none {
    display: none;
}


/* INPUTS */
.form-input {
    width: 100%;
    max-width: 242px;
    margin-bottom: 12px;
    border: var(--terciary) solid 1px;
    padding: 5px 10px;
    border-radius: 5px;
}

.form-input:focus-within {
    border: var(--primary) solid 1px;
}

.input {
    width: 100%;
    max-width: 262px;
    outline: none;
    min-height: 35px;
    border: none;
}

.form-check {
    display: flex;
    max-width: 264px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.check {
    width: 25px;
    height: 25px;
}

.label {
    line-height: 20px;
}

.button-inside {
    background-color: #222;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    color: white;
    border: none;
    height: 37px;
    padding: 4px;
    display: unset;
}